<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="cv-theme/css/style.css" type="text/css">
    <link rel="stylesheet" href="cv-theme/css/font-awesome.min.css" type="text/css">
    <link rel="icon" type="image/png" href="/cv-theme/img/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Dylan Cattelan</title>
</head>
<script src="cv-theme/js/script.js"></script>
<header>
    <div id="cvName">
        <div id="namediv">
            <h1 id="name" class="insetText">
            Dylan Cattelan</h1>
        </div>
    </div>
    <img alt="Dylan Cattelan" id="pic" src="cv-theme/img/face.jpg" />
</header>
<div id="progressbar">
    <progress value="0"></progress>
</div>
<div id="enveloppe">
    <h1 id="envH1" class="insetText">For a better experience<br /> please visit this website using your computer.</h1>
    <h2 id="envH2" class="insetText">( Responsive website under construction )</h2>
</div>

<body>
    <div id="sidebar">
        <button id="buttonSkills" class="buttons">
            <div class="buttonText">Skills</div>
        </button>
        <button id="buttonExperience" class="buttons">
            <div class="buttonText">Work & Internships</div>
        </button>
        <button id="buttonFormation" class="buttons">
            <div class="buttonText">Education</div>
        </button>
        <button id="buttonContact" class="buttons">
            <div class="buttonText">Misc. & Contact</div>
        </button>
    </div>
    <div id="background">
        <div id="fractal3" class="bgimg decor"><img src="cv-theme/img/star3.png" /></div>
        <div id="fractal2" class="bgimg decor"><img src="cv-theme/img/star2.png" /></div>
        <div id="fractal1" class="bgimg decor"><img src="cv-theme/img/star1.png" /></div>
    </div>
    <div id="bwHeadSkills" class="bwDiv cvDiv">
        <h1 class="insetText bw">Skills</h1>
    </div>
    <div id="skills" class="cvDiv">
        <div id="skillsSlide" class="slide_inside">
            <div id="proSkills">
                <div id="proDiv" class="skillDiv">
                    <h1 id="proH1" class="skillH1 insetText">Pro Skills</h1>
                </div>
                <div class="skillbar" data-percent="95%">
                    <div class="skillbar-title" style=""><span>Java</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="92%">
                    <div class="skillbar-title" style=""><span>C#</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="87%">
                    <div class="skillbar-title" style=""><span>HTML</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="82%">
                    <div class="skillbar-title" style=""><span>PHP</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="80%">
                    <div class="skillbar-title" style=""><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="87%">
                    <div class="skillbar-title" style=""><span>JavaScript / JQuery</span></div>
                    <div class="skillbar-bar"></div>
                </div>
                <div class="skillbar" data-percent="79%">
                    <div class="skillbar-title" style=""><span>SQL</span></div>
                    <div class="skillbar-bar"></div>
                </div>
            </div>
            <div id="persoSkills">
                <div class="skillbar" data-percent="87%">
                    <div class="skillbar-title  persSkillsTitle"><span>Leadership</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="93%">
                    <div class="skillbar-title  persSkillsTitle"><span>Interpersonal Skills</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="87%">
                    <div class="skillbar-title  persSkillsTitle"><span>Initiative</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="97%">
                    <div class="skillbar-title  persSkillsTitle"><span>Optimism</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="86%">
                    <div class="skillbar-title  persSkillsTitle"><span>Adaptability</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar-title  persSkillsTitle"><span>Critical Thinking</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div class="skillbar" data-percent="94%">
                    <div class="skillbar-title  persSkillsTitle"><span>Reliability</span></div>
                    <div class="skillbar-bar  persSkillsBar"></div>
                </div>
                <div id="persoDiv" class="skillDiv">
                    <h1 id="persoH1" class="skillH1 insetText">Personal Skills</h1>
                </div>
            </div>
        </div>
        <div id="skillHovered">
            <p>Hover a skill to see details.</p>
        </div>
    </div>
    <div id="bwSkillXP" class="bwDiv cvDiv">
        <h1 class="insetText bw">Work & Internships</h1>
    </div>
    <div id="experience" class="cvDiv">
        <div id="workDiv" class="workDiv">
            <h1 id="workH1" class="workH1 insetText">Work experiences</h1>
        </div>
        <div id="intDiv" class="intDiv">
            <h1 id="intH1" class="intH1 insetText"><br/><br/>Internship</h1>
        </div>
        <div id="timeline">
            <div id="timelineWork" class="timelineLine">
                <div id="bubble7" class="bubble">
                    <h1 class="bubbleh">2017</h1>
                </div>
                <div id="bubble6" class="bubble">
                    <h1 class="bubbleh">2016</h1>
                </div>
                <div id="bubble5" class="bubble">
                    <h1 class="bubbleh">2015</h1>
                </div>
                <div id="bubble4" class="bubble">
                    <h1 class="bubbleh">2014</h1>
                </div>
                <div id="bubble3" class="bubble">
                    <h1 class="bubbleh">2013</h1>
                </div>
                <div id="bubble2" class="bubble">
                    <h1 class="bubbleh">2012</h1>
                </div>
            </div>
            <div id="timelineInt" class="timelineLine">
                <div id="bubbleCNRS" class="bubbleInt">
                    <h1 class="bubbleh">CNRS</h1>
                </div>
            </div>
            <div id="timelineSelected" style="display: none">
                <h1 id="workName7" class="workName" style="display: none">Pizza Bonici</h1>
                <h1 id="workName7" class="workName" style="display: none">TFC</h1>
                <h1 id="workName6" class="workName" style="display: none">Relais des Cedres</h1>
                <h1 id="workName6" class="workName" style="display: none">TFC</h1>
                <h1 id="workName5" class="workName" style="display: none">McDonald's</h1>
                <h1 id="workName5" class="workName" style="display: none">TFC</h1>
                <h1 id="workName4" class="workName" style="display: none">McDonald's</h1>
                <h1 id="workName4" class="workName" style="display: none">Chronodrive</h1>
                <h1 id="workName4" class="workName" style="display: none">Quick</h1>
                <h1 id="workName4" class="workName" style="display: none">TFC</h1>
                <h1 id="workName3" class="workName" style="display: none">Quick</h1>
                <h1 id="workName3" class="workName" style="display: none">TFC</h1>
                <h1 id="workName2" class="workName" style="display: none">TFC</h1>
            </div>
            <div id="workSelected" style="display: none">
            </div>
        </div>
    </div>
    <div id="bwXPForm" class="bwDiv cvDiv">
        <h1 class="insetText">Education</h1>
    </div>
    <div id="formation" class="cvDiv">
        <div class="slide_inside">
            <div id="timeline">
                <div id="timelineStudies" class="timelineLine">
                    <div id="bubbleS7" class="bubbleS">
                        <h1 class="bubbleh">2017</h1>
                    </div>
                    <div id="bubbleS6" class="bubbleS">
                        <h1 class="bubbleh">2016</h1>
                    </div>
                    <div id="bubbleS5" class="bubbleS">
                        <h1 class="bubbleh">2015</h1>
                    </div>
                    <div id="bubbleS4" class="bubbleS">
                        <h1 class="bubbleh">2014</h1>
                    </div>
                    <div id="bubbleS3" class="bubbleS">
                        <h1 class="bubbleh">2013</h1>
                    </div>
                </div>
                <div id="studies">
                    <div id="arenesS">
                        <h1 class="study insetText">Lycée des Arènes</h1>
                    </div>
                    <div id="linkAM"></div>
                    <div id="mirailS">
                        <h1 class="study insetText">Université Toulouse II - Jean Jaurès</h1>
                    </div>
                    <div id="linkME"></div>
                    <div id="exiaS">
                        <h1 class="study insetText">Exia.CESi</h1></div>
                </div>
                <div id="studySelected">
                    <div id="schoolInfo">
                        <div id="schoolName"></div>
                        <div id="schoolLink"></div>
                        <div id="schoolDate"></div>
                        <div id="schoolDesc"></div>
                    </div>
                    <hr width="1" size="200">
                    <div id="schoolLoc"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="bwFormContact" class="bwDiv cvDiv">
        <h1 class="insetText">Misc. & Contact</h1>
    </div>
    <div id="Contact" class="cvDiv">
        <div class="slide_inside">
            <div id="misc">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-user-o fa-lg"></i>
                        <h4>&nbsp;Dylan Cattelan</h4></li>
                    <li><i class="fa-li fa fa-birthday-cake fa-lg"></i>
                        <h4>&nbsp;28/10/1994</h4></li>
                    <li><i class="fa-li fa fa-map-marker fa-lg"></i><a href="https://www.google.com/maps?q=Pibrac"><h4>&nbsp;Pibrac</h4></a></li>
                    <li><i class="fa-li fa fa-car fa-lg"></i>
                        <h4>&nbsp;Driving License</h4></li>
                </ul>
                <br />
                <br />
                <br />
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-at fa-lg"></i><a href="mailto:dylan.cattelan@gmail.com"><h4>&nbsp;dylan.cattelan@gmail.com</h4></a></li>
                    <li><i class="fa-li fa fa-linkedin fa-lg"></i><a href="https://www.linkedin.com/in/dylancattelan"><h4>&nbsp;Dylan Cattelan</h4></a></li>
                    <li><i class="fa-li fa fa-github fa-lg"></i>
                        <a href="https://github.com/DylanCa"><h4>&nbsp;DylanCa</h4></a></li>
                    <li><i class="fa-li fa fa-skype fa-lg"></i><a href="skype:dylan.cattelan?userinfo"><h4>&nbsp;dylan.cattelan</h4></a></li>
                    <li><i class="fa-li fa fa-mobile fa-lg"></i><a href="callto:0681015114"><h4>&nbsp;06.81.01.51.14</h4></a></li>
                </ul>
                <br />
                <br />
                <br />
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-download fa-lg"></i><a href="/cv-theme/cv.pdf" download="Résumé Dylan Cattelan.pdf"><h4>&nbsp;Download résumé (.pdf)</h4></a></li>
                </ul>
            </div>
            <hr width="1" size="500">
            <div id="contactZone">
                <form action="" method="post" autocomplete="on">
                    <input type="hidden" name="action" value="submit">
                    <input type="text" name="contactName" id="contactName" required="required" placeholder="Name" />
                    <input type="email" name="contactMail" id="contactMail" required="required" placeholder="Mail" />
                    <input type="text" name="contactCompany" id="contactCompany" placeholder="Company" />
                    <textarea placeholder="Message" name="contactMessage" id="contactMessage" required="required"></textarea>
                    <input type="submit" value="SEND MESSAGE" id="contactButton" />
                    <input type="checkbox" id="sendto" name="sendto" value="Bike">
                    <h4 id="sendH4" class="insetText">Send a copy to yourself</h4>
                </form>
            </div>
        </div>
    </div>
    <div id="footer" class="bwDiv cvDiv">
        <h1 class="insetText end">This website has been fully made by <a href='https://www.linkedin.com/in/dylancattelan'>Dylan Cattelan</a> - Version 0.9b - 2017</h1>
    </div>
</body>

</html>
