!
<!DOCTYPE html>
<html>

<head>
    <title>Template Work</title>
    <link href="../css/timeline.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="internship">
        <div id="cnrs">
            <h2 class="intName">DSI CNRS</h2>
            <h2 class="intPlace">Toulouse-Labège</h2>
            <h2 class="intDate">Sept. 2016 - Nov. 2016</h2>
            <h2 class="intDesc"><ul>- Dynamically updating a website displaying the current state of services
                </li><li>Database monitoring and advanced authentication modules installations
                </li><li>Security services set up</ul></h2>
        </div>
    </div>
    <div id="work">
        <div id="pizza">
            <h2 class="wkName">Pizza Bonici</h2>
            <h2 class="workPlace">Saint Orens</h2>
            <h2 class="rank">Delivery Guy</h2>
            <h2 class="date">Jan. 2017 - Ongoing</h2>
            <p class="descrWork">
                <ul>
                    <li>Delivering pizzas by car</li>
                    <li>Taking orders</li>
                    <li>Keeping a local clean</li>
                    <li>Preparing pizzas</li>
                </ul>
            </p>
        </div>
        <div id="station">
            <h2 class="wkName">Gas Station "Relais des Cèdres"</h2>
            <h2 class="workPlace">Aucamville</h2>
            <h2 class="rank">Manager</h2>
            <h2 class="date">Jun. 2016 - Sept. 2016</h2>
            <p class="descrWork">
                <ul>
                    <li>Taking orders</li>
                    <li>Inventoring</li>
                    <li>Communication with clients</li>
                    <li>Opening early and Closing late a local</li>
                </ul>
            </p>
        </div>
        <div id="mcdo">
            <h2 class="wkName">Mcdonald's</h2>
            <h2 class="workPlace">Compans-Caffarelli</h2>
            <h2 class="rank">Employee</h2>
            <h2 class="date">Jun. 2014 - Feb. 2015</h2>
            <p class="descrWork">
                <ul>
                    <li>Grillman</li>
                    <li>Opening and Closing a restaurant</li>
                    <li>Handling</li>
                    <li>Communication with clients</li>
                </ul>
            </p>
        </div>
        <div id="chrono">
            <h2 class="wkName">Chronodrive</h2>
            <h2 class="workPlace">Toulouse Basso-Cambo</h2>
            <h2 class="rank">Pick'n'Pack Operator</h2>
            <h2 class="date">Jan. 2014 - Jun. 2014</h2>
            <p class="descrWork">
                <ul>
                    <li>Preparing orders</li>
                    <li>Delivering orders to a client</li>
                    <li>Communicationwith clients</li>
                    <li>Organisation</li>
                </ul>
            </p>
        </div>
        <div id="quick">
            <h2 class="wkName">Quick</h2>
            <h2 class="workPlace">Colomiers</h2>
            <h2 class="rank">Employee</h2>
            <h2 class="date">Jun. 2013 - Jan. 2014</h2>
            <p class="descrWork">
                <ul>
                    <li>Grillman</li>
                    <li>Opening and Closing a restaurant</li>
                    <li>Handling</li>
                    <li>Communication with clients</li>
                    <li>Taking orders</li>
                </ul>
            </p>
        </div>
        <div id="tfc">
            <h2 class="wkName">TFC</h2>
            <h2 class="workPlace">Toulouse Football Club's Stadium</h2>
            <h2 class="rank">Manager</h2>
            <h2 class="date">2012 - Ongoing</h2>
            <p class="descrWork">
                <ul>
                    <li>Managing a 10-man team</li>
                    <li>Managing money</li>
                    <li>Taking multiple orders at the same time</li>
                    <li>Supervising a precise inventory</li>
                    <li>Communication with clients</li>
                </ul>
            </p>
        </div>
    </div>
    <div id="skills">
        <div id="Java">
            <h2 class="skillName">Java</h2>
            <h2 class="skillDescr">Java Placeholder</h2>
        </div>
        <div id="CS">
            <h2 class="skillName">C#</h2>
            <h2 class="skillDescr">C# Placeholder</h2>
        </div>
        <div id="HTML">
            <h2 class="skillName">HTML</h2>
            <h2 class="skillDescr">HTML Placeholder</h2>
        </div>
        <div id="PHP">
            <h2 class="skillName">PHP</h2>
            <h2 class="skillDescr">PHP Placeholder</h2>
        </div>
        <div id="CSS">
            <h2 class="skillName">CSS</h2>
            <h2 class="skillDescr">CSS Placeholder</h2>
        </div>
        <div id="JS">
            <h2 class="skillName">JavaScript / JQuery</h2>
            <h2 class="skillDescr">JavaScript / JQuery Placeholder</h2>
        </div>
        <div id="SQL">
            <h2 class="skillName">SQL</h2>
            <h2 class="skillDescr">SQL Placeholder</h2>
        </div>
        <div id="Leadership">
            <h2 class="skillName">Leadership</h2>
            <h2 class="skillDescr">Leadership Placeholder</h2>
        </div>
        <div id="IS">
            <h2 class="skillName">Interpersonal skills</h2>
            <h2 class="skillDescr">Interpersonal skills Placeholder</h2>
        </div>
        <div id="Initiative">
            <h2 class="skillName">Initiative</h2>
            <h2 class="skillDescr">Initiative Placeholder</h2>
        </div>
        <div id="Optimism">
            <h2 class="skillName">Optimism</h2>
            <h2 class="skillDescr">Optimism Placeholder</h2>
        </div>
        <div id="Adaptability">
            <h2 class="skillName">Adaptability</h2>
            <h2 class="skillDescr">Adaptability Placeholder</h2>
        </div>
        <div id="CT">
            <h2 class="skillName">Critical Thinking</h2>
            <h2 class="skillDescr">Critical Thinking Placeholder</h2>
        </div>
        <div id="Reliability">
            <h2 class="skillName">Reliability</h2>
            <h2 class="skillDescr">Reliability Placeholder</h2>
        </div>
    </div>
    <div id="school">
        <div id="exia">
            <h2 class="schoolName">Exia.CESi</h2>
            <h2 class="schoolLoc">Toulouse-Labège</h2>
            <h2 class="schoolDate">2015 - 2020</h2>
            <h2 class="schoolDescr">IT Engineering School</h2>
        </div>
        <div id="mirail">
            <h2 class="schoolName">Université Toulouse II Le Mirail</h2>
            <h2 class="schoolLoc">Quartier le Mirail - Toulouse</h2>
            <h2 class="schoolDate">2013 - 2015</h2>
            <h2 class="schoolDescr">LEA Anglais-Japonais</h2>
        </div>
        <div id="arenes">
            <h2 class="schoolName">Lycée des Arènes</h2>
            <h2 class="schoolLoc">Toulouse-Les Arènes</h2>
            <h2 class="schoolDate">2009 - 2013</h2>
            <h2 class="schoolDescr">Baccalauréat Littéraire</h2>
        </div>
    </div>
</body>

</html>
