@import url("font-awesome.min.css");
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    position: relative;
    z-index: 1000;
    display: block;
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #ecf0f1;
    background-position: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

header.sticky {
    height: 120px;
    text-align: left;
}

#pic {
    position: relative;
    border: 5px solid white;
    border-width: 5px;
    margin-top: 100px;
    margin-left: 45%;
    border-radius: 50%;
    height: 160px;
    width: auto;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#pic.sticky {
    height: 135px;
    margin-left: 35px;
    margin-top: 20px;
}

#cvName {
    position: fixed;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 100%;
}

#namediv {
    text-align: center;
    background: #ecf0f1;
    margin-left: auto;
    margin-right: auto;
}

.insetText {
    font: bold 80px arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
}

progress {
    position: fixed;
    z-index: 999;
    background: transparent;
    top: 200px;
    width: 100%;
    height: 5px;
    border: none;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

progress.sticky {
    top: 120px;
}

#enveloppe {
    background: #ecf0f1;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
}

#enveloppe.sticky {
    margin-top: 5000px;
}

body {
    background: -webkit-linear-gradient(#2B3045, #F7FA9D);
    background: linear-gradient(#2B3045, #F7FA9D);
    background-size: 100% 110%;
    width: 100%;
    height: 4000px;
    margin: 0 auto;
    position: relative;
}

#sidebar {
    position: fixed;
    z-index: 900;
    right: 0;
    top: 350px;
    border-radius: 7px 0px 0px 7px;
}

#buttonSkills {
    border-radius: 7px 0px 0px 0px;
}

#buttonContact {
    border-radius: 0px 0px 0px 7px;
}

.buttons {
    position: relative;
    display: block;
    background-color: #ecf0f1;
    width: 100px;
    height: 50px;
    border: 0;
    overflow: hidden;
}

.bgimg {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

#frontbg {
    background-image: url('../img/front-bg.png');
    background-size: 100%;
}

#backbg {
    background-image: url('../img/back-bg.png');
    background-size: 100%;
}

#house {
    background-image: url('../img/house.png');
    background-size: 100%;
}

#moon {
    background-image: url('../img/moon.png');
    left: -550px;
}

#sun {
    background-image: url('../img/sun.png');
    left: 550px;
}

.cvDiv {
    box-shadow: 0px 0px 5px 0px #656565;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 900px;
    top: -20px;
}

#skillsSlide {
    margin-top: 220px;
}

#skills {
    background-color: #ecf0f1;
    z-index: 10;
    text-align: center;
}

#skillHovered {
    padding: 25px;
    margin-top: 30px;
    border: 1px hidden;
    box-shadow: inset 0px 0px 5px 0px #656565;
    border-radius: 5px;
    height: 250px;
}

#proSkills {
    display: inline-block;
    margin-right: 90px;
}

#persoSkills {
    display: inline-block;
}

#experience {
    background-color: #ecf0f1;
    z-index: 9;
}

#formation {
    background: #ecf0f1;
    z-index: 8;
}

#Contact {
    background: #ecf0f1;
    z-index: 7;
}

#skills,
#formation,
#Contact,
#experience {
    height: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
}

.slide_inside {
    margin-top: 250px;
}

#bwHeadSkills {
    top: 150px;
}

#bwSkillXP {
    top: 1000px;
}

#bwXPForm {
    top: 2000px;
}

#bwFormContact {
    top: 3000px;
}

#footer {
    top: 3650px;
    width: 100%;
    height: 50px;
}

.end {
    font: bold 15px arial, sans-serif;
}

.bwDiv {
    position: relative;
    height: 120px;
    width: 1150px;
    background-color: #ecf0f1;
    padding-top: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 3px #656565;
    border-radius: 5px;
    z-index: 20;
    text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 300px;
    background: #eee;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 20px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.persSkillsTitle {
    background: #00a8ff;
}

.persSkillsBar {
    background: #FFB400;
}

.truc {
    background-color: black
}

.timelineLine {
    height: 1200px;
    width: 10px;
    background-color: #ecf0f1;
    box-shadow: inset 0px 0px 2px 1px;
    left: 50px;
    position: absolute;
}

#timelineSelected {
    padding: 10px;
    top: 300px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px 1px;
    margin-left: 120px;
    position: relative;
    float: left;
    max-width: 325px;
    max-height: 550px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#workSelected {
    padding: 10px;
    top: 300px;
    border-radius: 5px;
    max-width: 325px;
    max-height: 550px;
    background-color: #ecf0f1;
    box-shadow: inset 0px 0px 2px 1px;
    position: relative;
    margin-left: 10px;
    float: left;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#timelineInt {
    left: 850px;
    padding-left: -30px;
}

#timelineStudies {
    width: 110%;
    height: 5px;
    margin-left: -100px;
    position: relative;
}

#studySelected {
    padding: 25px;
    position: absolute;
    border: 1px hidden;
    box-shadow: inset 0px 0px 5px 0px #656565;
    border-radius: 5px;
    height: 250px;
    width: 850px;
    text-align: center;
    vertical-align: middle;
}

#schoolName {
    position: relative;
    margin-left: -15px;
    margin-top: -15px;
    height: 50px;
    width: 440px;
}

#schoolDate {
    position: relative;
    margin-left: -15px;
    margin-top: 5px;
    height: 50px;
    width: 440px;
}

#schoolDesc {
    position: relative;
    margin-left: -15px;
    margin-top: 5px;
    height: 165px;
    width: 440px;
}

#schoolLoc {
    float: right;
    position: relative;
    right: -15px;
    top: -70px;
    height: 280px;
    width: 425px;
}

#arenesS,
#mirailS,
#exiaS {
    position: relative;
    border: 1px hidden;
    box-shadow: inset 0px 0px 5px 0px #656565;
    border-radius: 5px;
    display: block;
    text-align: center;
}

#arenesS {
    width: 180px;
    margin-left: -20px;
    top: 10px;
    padding-left: 20px;
}

#mirailS {
    margin-left: 180px;
    width: 370px;
}

#exiaS {
    margin-left: 550px;
    width: 370px;
}

.bubble,
.bubbleInt,
.bubbleS {
    width: 55px;
    height: 55px;
    background-color: #ecf0f1;
    box-shadow: inset 0px 0px 2px 1px;
    border-radius: 50%;
    margin-left: -22px;
    position: absolute;
}

.bubbleh {
    font: bold 21px arial, sans-serif;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-color: #565656;
    background-clip: text;
    text-align: center;
}

.bubbleInt {
    width: 70px;
    border-radius: 20%;
    margin-left: -30px;
    top: 500px;
}

.bubbleS {
    margin-top: -20px;
    width: 70px;
    height: 50px;
    border-radius: 20%;
}

#bubble7 {
    top: 250px;
}

#bubble6 {
    top: 355px;
}

#bubble5 {
    top: 460px;
}

#bubble4 {
    top: 565px;
}

#bubble3 {
    top: 670px;
}

#bubble2 {
    top: 775px;
}

#bubbleS3 {
    left: 100px;
}

#bubbleS4 {
    left: 297.5px;
}

#bubbleS5 {
    left: 495px;
}

#bubbleS6 {
    left: 692.5px;
}

#bubbleS7 {
    left: 890px;
}

#misc {
    line-height: 100%;
    float: left;
    margin-top: 70px;
    margin-left: 10px;
}

hr {
    display: inline-block;
    margin-left: 50px;
}

#Contact li {
    margin-top: -20px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

h4 {
    font: bold 20px arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
}

#contactZone {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    height: 470px;
    width: 510px;
}

#contactName,
#contactMail,
#contactCompany,
#contactButton,
#contactMessage {
    width: 450px;
    height: 35px;
    padding-left: 45px;
    background-size: 35px 35px;
    background-position: 4px 0px;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: none;
    background-color: #E0E0E0;
    border-radius: 5px;
}

#contactName {
    background-image: url('../img/name.svg');
}

#contactMail {
    background-image: url('../img/email.svg');
    width: 449.5px;
}

#contactCompany {
    background-image: url('../img/corp.jpg');
    background-position: 7px 2px;
    background-size: 30px 30px;
}

#contactMessage {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    height: 280px;
    width: 449px;
}

#contactButton {
    margin-top: 10px;
    width: 500px;
}

input,
textarea {
    font: 21px arial, sans-serif;
}
