header {
    position: relative;
    z-index: 1000;
    display: block;
    position: fixed;
    margin-left: -8px;
    margin-top: -8px;
    width: 100%;
    height: 200px;
    background-color: #ecf0f1;
    background-position: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

header.sticky {
    height: 120px;
    text-align: left;
}

#pic {
    position: fixed;
    border: 5px solid white;
    border-width: 5px;
    margin-left: 43%;
    margin-top: 100px;
    border-radius: 50%;
    height: 160px;
    width: auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#pic.sticky {
    height: 135px;
    margin-left: 35px;
    margin-top: 20px;
}

#cvName {
    position: fixed;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%;
}

#cvName.sticky {
    margin-left: -120px;
}

#namediv {
    text-align: center;
    background: #ecf0f1;
    margin-left: auto;
    margin-right: auto;
}

.insetText {
    font: bold 80px arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
}

progress {
    margin-left: -8px;
    position: fixed;
    z-index: 999;
    background: transparent;
    top: 200px;
    width: 100%;
    height: 5px;
    border: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

progress.sticky {
    top: 120px;
}

#enveloppe {
    background: #ecf0f1;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    width: 100%;
    height: 100%;
    margin-left: -8px;
    position: fixed;
    z-index: -998;
}

#enveloppe.sticky {
    margin-top: 5000px;
}

body {
    background: -webkit-linear-gradient(#2B3045, #F7FA9D);
    background: linear-gradient(#2B3045, #F7FA9D);
    background-size: 100% 110%;
    height: 4000px;
    position: relative;
}

#sidebar {
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 350px;
    border-radius: 7px 0px 0px 7px;
}

#buttonSkills {
    border-radius: 7px 0px 0px 0px;
}

#buttonContact {
    border-radius: 0px 0px 0px 7px;
}

.buttons {
    position: relative;
    display: block;
    background-color: #ecf0f1;
    width: 100px;
    height: 50px;
    border: 0;
    overflow: hidden;
}

.bgimg {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.decor {
    left: 0px;
}

#frontbg {
    background-image: url('../img/front-bg.png');
}

#backbg {
    background-image: url('../img/back-bg.png');
}

#house {
    background-image: url('../img/house.png');
}

#moon {
    background-image: url('../img/moon.png');
    left: -550px;
}

#sun {
    background-image: url('../img/sun.png');
    left: 550px;
}

.cvDiv {
    box-shadow: 0px 0px 5px 0px #656565;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    top: 0;
}

#skillsSlide {
    padding-top: 90px;
}

#skills {
    background-color: white;
    z-index: 10;
    text-align: center;
}

#devLangSkills {
    display: inline-block;
    margin-right: 90px;
}

#langKnown {
    display: inline-block;
}

#experience {
    background-image: url('../img/cover.jpg');
    z-index: 9;
}

#formation {
    background-image: url('../img/u.png');
    z-index: 8;
}

#Contact {
    background-image: url('../img/cover.jpg');
    z-index: 7;
}

#skills,
#formation,
#Contact,
#experience {
    height: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
}

#Contact {
    height: 800px;
}

.slide_inside {
    margin-top: 250px;
}

#bwHeadSkills {
    top: 150px;
}

#bwSkillXP {
    top: 1000px;
}

#bwXPForm {
    top: 2000px;
}

#bwFormContact {
    top: 3000px;
}

#footer {
    top: 4000px;
}

.bwDiv {
    position: relative;
    height: 120px;
    width: 1000px;
    background-color: #ecf0f1;
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: 0px 0px 5px 3px #656565;
    border-radius: 5px;
    z-index: 990;
    text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 300px;
    background: #eee;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 20px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.persSkillsTitle {
    background: #00a8ff;
}

.persSkillsBar {
    background: #FFB400;
}


/*#footerText {
    position: relative;
    background-color: yellow;
    z-index: 10;
    left: -8px;
    text-align: center;
}

#footer {
    width: 100%;
    height: 18px;
    bottom: 1px;
    position: fixed;
}*/

#timelineLine {
    height: 1000px;
    width: 10px;
    background-color: black;
    margin-left: 50px;
    position: absolute;
    margin-top: 100px
}

.bubble {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    margin-left: -20px;
    position: absolute;
}

.bubbleh {
    font: bold 20px arial, sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bubble7 {
    top: 200px;
}

#bubble6 {
    top: 310px;
}

#bubble5 {
    top: 420px;
}

#bubble4 {
    top: 530px;
}

#bubble3 {
    top: 640px;
}

#bubble2 {
    top: 750px;
}
