@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

header {
    padding: 0;
    margin: 0 auto;
    z-index: 1000;
    display: block;
    position: fixed;
    width: 100%;
    max-height: 180px;
    background-color: #ecf0f1;
    background-position: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

header.sticky {
    text-align: left;
}

button:focus {
    outline: 0;
}

#pic {
    position: fixed;
    border: 5px solid white;
    border-width: 5px;
    left: 46%;
    padding: 0;
    margin-top: 6vw;
    border-radius: 50%;
    height: 9vw;
    width: auto;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#pic.sticky {
    height: 7vw;
    left: 0.5vw;
    margin-top: 0.5vw;
}

#cvName {
    position: fixed;
    background-color: #ecf0f1;
    background-position: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    height: 7.25vw;
    width: 100%;
}

#namediv {
    left: 50vw;
    text-align: center;
    background: #ecf0f1;
}

.insetText {
    font: bold 4vw arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
}

progress {
    position: fixed;
    z-index: 999;
    background: transparent;
    top: 10vw;
    width: 100%;
    height: 5px;
    border: none;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

progress.sticky {
    top: 7.25vw;
}

#enveloppe {
    background: #ecf0f1;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    text-align: center;
    opacity: 1;
}

#enveloppe.sticky {
    background: transparent;
    pointer-events: none;
    opacity: 0;
}

#envH1,
#envH2 {
    margin-top: 27vw;
    text-align: center;
    font: italic 3vw Georgia;
}

#envH2 {
    margin-top: 50px;
    font-size: 2.5vw;
}

#envH1.sticky,
#envH2.sticky {}

body {
    background: -webkit-radial-gradient(bottom ellipse, #F7FA9D -50%, #2B3045);
    background: radial-gradient(ellipse at bottom, #F7FA9D -50%, #2B3045);
    background-size: 100% 110%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#sidebar {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 50%;
    border: solid 1px #D5DEE0;
    border-radius: 9px 0 0 9px
}

#buttonSkills {
    border-radius: 7px 0 0 0;
}

#buttonContact {
    border-radius: 0 0 0 7px;
}

.buttons {
    position: relative;
    display: block;
    background-color: #ecf0f1;
    width: 6.2vw;
    height: 5vh;
    border: 0;
    overflow: hidden;
}

.bgimg {
    position: fixed;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.cvDiv {
    box-shadow: 0 0 5px 0 #656565;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 80%;
    top: -20px;
}

#skillsSlide {
    margin-top: 13vw;
}

#skills {
    background-color: #ecf0f1;
    z-index: 10;
    text-align: center;
}

#skillHovered {
    padding: 10px;
    margin-top: 90px;
    border: 1px hidden;
    box-shadow: inset 0 0 5px 0 #656565;
    border-radius: 5px;
    height: 10vw;
}

.skillH1 {
    font: 1.3vw arial;
}

#proDiv,
#persoDiv {
    position: relative;
    background-size: 1.3vw 1.3vw;
    background-repeat: no-repeat;
    background-image: url('../img/arrow.png');
}

#proSkills {
    float: left;
    margin-left: 4vw;
}

#persoSkills {
    float: right;
    margin-right: 4vw;
}

#proDiv {
    text-align: left;
    float: left;
    top: -4vw;
    width: 10.4vw;
    height: 5.2vw;
    background-position: 6.7vw 0.78vw;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#persoDiv {
    text-align: right;
    float: right;
    top: -2vw;
    width: 11.98vw;
    height: 5.21vw;
    background-position: 10.42vw 0.78vw;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
}

#persoH1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#experience {
    background-color: #ecf0f1;
    z-index: 9;
}

#formation {
    background: #ecf0f1;
    z-index: 8;
}

#skills,
#formation,
#Contact,
#experience {
    padding-left: 0.52vw;
    padding-right: 0.52vw;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
}

#Contact {
    background: #ecf0f1;
    z-index: 7;
    height: 5.21vw;
}

.slide_inside {
    margin-top: 13.02vw;
}

#bwHeadSkills {
    top: 9vw;
}

#bwSkillXP {
    top: 94.6vh;
}

#bwXPForm {
    top: 187.18vh;
}

#bwFormContact {
    top: 279.78vh;
}

#footer {
    top: 355.33vh;
    width: 100%;
    height: 50px;
}

.end {
    padding-top: 1.04vw;
    font: bold 15px arial, sans-serif;
}

.bwDiv {
    position: relative;
    height: 6.25vw;
    width: 90%;
    background-color: #ecf0f1;
    padding-top: 1.04;
    margin: 0 auto;
    box-shadow: 0 0 5px 3px #656565;
    border-radius: 5px;
    z-index: 20;
    text-align: center;
}

.skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 24.78vw;
    min-width: 300px;
    background: #DDD;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: #898989;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #00a8ff;
}

.skillbar-bar {
    height: 20px;
    width: 0;
    background: #B7B7B7;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skillbar-bar:hover {
    background: #00a8ff;
}

.persSkillsTitle span {
    background: #E99E2F;
}

.persSkillsBar {
    background: #E99E2F;
}

.persSkillsBar:hover {
    background: #E99E2F;
}

.timelineLine {
    height: 100%;
    width: 10px;
    background-color: #B7B7B7;
    left: 50px;
    position: absolute;
}

#timelineSelected {
    padding: 10px;
    top: 11.46vw;
    background-color: #ecf0f1;
    margin-left: 90px;
    position: relative;
    float: left;
    width: 12.5vw;
    height: 28.65vw;
    text-align: center;
}

.workName {
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
    box-shadow: 0 0 5px 0 #878787;
    border-radius: 10px;
    font-size: 2.3vw;
}

.wkName {
    font: bold 2.3vw georgia;
    color: #E7A036;
}

.workPlace,
.rank {
    font-size: 2vw;
    color: #EAB166;
    font-style: italic;
}

.date {
    font-size: 2vw;
    color: #D6861E;
    font-style: bold;
}

.descrWork {
    font-size: 2vw;
    width: 60%;
    color: #EAB166;
    margin-left: 3.65vw;
}

.descrWork i {
    color: #D6861E;
}

#workSelected {
    padding: 10px;
    top: 11.46vw;
    width: 17.71vw;
    height: 28.65vw;
    background-color: #ecf0f1;
    position: relative;
    float: left;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#timelineInt {
    left: 76.27vw;
    padding-left: -30px;
}

#timelineStudies {
    width: 110%;
    height: 5px;
    margin-left: -100px;
    position: relative;
}

#studySelected {
    padding: 1.3vw;
    position: relative;
    border: 1px hidden;
    box-shadow: inset 0 0 5px 0 #878787;
    border-radius: 5px;
    height: 13.02vw;
    width: 44.27vw;
    text-align: center;
    margin-left: 15px;
}

#schoolInfo {
    float: left;
    text-align: center;
}

#schoolName {
    font: 18px Georgia;
    color: #155A15;
    margin-top: -15px;
    height: 50px;
    width: 300px;
}

#schoolDate {
    font: 14px Georgia;
    color: #0C600A;
    margin-top: 20px;
    height: 50px;
    width: 300px;
}

#schoolLink a {
    font: 14px Georgia;
    color: #0C600A;
}

#schoolLink {
    position: absolute;
    color: #0C600A;
    margin-top: -100px;
    height: 50px;
    width: 300px;
}

#schoolDesc {
    font: 14px Georgia;
    color: #0C600A;
    margin-top: 40px;
    height: 165px;
    width: 300px;
}

#schoolLoc {
    float: right;
    right: -15px;
    margin-top: -15px;
    height: 280px;
    width: 465px;
}

#linkAM {
    position: absolute;
    border-radius: 20px;
    border-left: 5px solid #878787;
    border-bottom: 5px solid #878787;
    height: 65px;
    margin-top: -25px;
    margin-left: 90px;
    width: 150px;
    z-index: 1;
}

#linkME {
    position: absolute;
    border-radius: 20px;
    border-top: 5px solid #878787;
    border-right: 5px solid #878787;
    height: 80px;
    margin-top: -50px;
    margin-left: 500px;
    width: 250px;
    z-index: 1;
}

#arenesS,
#mirailS,
#exiaS {
    position: relative;
    margin-top: 30px;
    border: 1px hidden;
    background-color: #E5EAEA;
    border-radius: 5px;
    display: block;
    text-align: center;
    z-index: 2;
}

.study {
    font-size: 25px;
}

#arenesS {
    width: 180px;
    margin-left: -20px;
    top: 10px;
    padding-left: 20px;
}

#mirailS {
    margin-left: 180px;
    width: 370px;
}

#exiaS {
    margin-left: 550px;
    width: 370px;
}

.bubble,
.bubbleInt,
.bubbleS {
    width: 55px;
    height: 55px;
    background-color: #E5EAEA;
    border-radius: 50%;
    margin-left: -22px;
    position: absolute;
}

.bubbleh {
    font: bold 21px arial, sans-serif;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-color: #565656;
    background-clip: text;
    text-align: center;
}

.bubbleInt {
    width: 70px;
    border-radius: 20%;
    margin-left: -30px;
    top: 500px;
    z-index: 10;
}

.bubbleS {
    margin-top: -20px;
    width: 70px;
    height: 50px;
    border-radius: 20%;
}

#bubble7 {
    top: 250px;
}

#bubble6 {
    top: 355px;
}

#bubble5 {
    top: 460px;
}

#bubble4 {
    top: 565px;
}

#bubble3 {
    top: 670px;
}

#bubble2 {
    top: 775px;
}

#bubbleS3 {
    left: 100px;
}

#bubbleS4 {
    left: 297.5px;
}

#bubbleS5 {
    left: 495px;
}

#bubbleS6 {
    left: 692.5px;
}

#bubbleS7 {
    left: 890px;
}

#misc {
    line-height: 100%;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

hr {
    display: inline-block;
    margin-left: 50px;
}

#Contact li {
    margin-top: -20px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

h4 {
    font: bold 20px arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    background-clip: text;
}

#contactZone {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    height: 470px;
    width: 510px;
}

#contactName,
#contactMail,
#contactCompany,
#contactButton,
#contactMessage {
    width: 450px;
    height: 35px;
    padding-left: 45px;
    background-size: 35px 35px;
    background-position: 4px 0;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: none;
    background-color: #E0E0E0;
    border-radius: 5px;
}

#contactName {
    background-image: url('../img/name.svg');
}

#contactMail {
    background-image: url('../img/email.svg');
    width: 449.5px;
}

#contactCompany {
    background-image: url('../img/corp.jpg');
    background-position: 7px 2px;
    background-size: 30px 30px;
}

#contactMessage {
    background-image: url('../img/comment.svg');
    height: 280px;
    width: 449px;
}

#contactButton {
    width: 500px;
}

#sendto {
    float: left;
}

input,
textarea {
    font: 21px arial, sans-serif;
}

#workDiv {
    top: 300px;
    text-align: right;
    left: 100px;
    width: 350px;
    height: 200px;
    position: absolute;
    background-size: 100px 100px;
    background-position: 0 110px;
    background-repeat: no-repeat;
    background-image: url('../img/arrow90.png');
}

#workH1 {
    left: -50px;
    font-size: 50px;
}

#intDiv {
    top: 470px;
    text-align: left;
    right: 120px;
    width: 300px;
    height: 180px;
    position: absolute;
    background-size: 100px 100px;
    background-position: 200px 25px;
    background-repeat: no-repeat;
    background-image: url('../img/arrow180.png');
}

#intH1 {
    left: -50px;
    font-size: 50px;
}

#sendH4 {
    font: 16px Georgia;
}
